# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude override files as they are not meant to be versioned
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude Terraform variable files with sensitive data
*.tfvars
*.tfvars.json

# Exclude plan output
*.tfplan

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore IDE/editor-specific files (optional but recommended)
.vscode/
.idea/
.DS_Store
*.swp
